@{
    ViewData["Title"] = "主页";
}

<div class="jumbotron">
    <h1>小树排课</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>欢迎来到小树排课</h2>
        <p>
            小树排课倾情奉献
            这里可以放一些广告啊课程啊或者自己看着顺眼的东西
            不过我闲麻烦就空着了
        </p>
    </div>

</div>